.form-card {
    background-color: rgba(255, 255, 255, 0.98);
    padding: 35px;
    border-radius: 25px;
    color: $color-dark-text;
    max-width: 550px;
    margin: 0 auto;

    &__title {
        font-family: $font-primary !important;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 25px;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__divider {
        font-family: $font-secondary;
        font-size: 0.75rem;
        font-weight: 700;
        color: #888;
        margin: 25px 0 15px;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    &__group {
        margin-bottom: 15px;
    }

    &__label {
        display: block;
        font-family: $font-secondary;
        font-size: 0.85rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__input, &__textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-family: $font-secondary;
        transition: border-color 0.3s;

        &:focus {
            outline: none;
            border-color: #000;
        }
    }

    &__btn-submit {
        width: 100%;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 18px;
        border-radius: 50px;
        font-family: $font-primary;
        font-size: 1.2rem;
        letter-spacing: 1px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #333;
            transform: translateY(-3px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }
    }

    &__footer-text {
        font-size: 0.75rem;
        text-align: center;
        margin-top: 20px;
        color: #999;
        font-style: italic;
    }
}