.hero {
    // Fondo con la tenista (ajusta la ruta si es necesario)
    background-image: 
        radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 100%),
        url('../img/tennis-bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: $color-light;
    position: relative;

&__title {
        // --- Versión Celular (Mobile) ---
        font-size: 5.5rem !important; 
        font-family: $font-primary;
        text-transform: uppercase;
        line-height: 0.9;
        letter-spacing: -1px;
        margin-bottom: 1rem;
        margin-top: 0px; 
        

        // --- Versión Computador (Desktop) ---
        // Esto solo se activa cuando la pantalla es grande (768px o más)
        @media (min-width: 768px) {
            font-size: 8.5rem  !important; // Aquí mantenemos el tamaño gigante que te gustó
            line-height: 0.9;
            margin-top: 80px;
        }
    }

    &__subtitle {
        font-family: $font-secondary;
        font-weight: 300;
        font-size: 1.1rem;
        text-transform: uppercase;
        max-width: 500px;
    }
}

// Estilos de la barra de información inferior
.info-bar {
    background-color: $color-cream;
    color: $color-dark-text;
    padding: 4rem 0;

    &__label {
        font-family: $font-primary;
        font-size: 2rem;
    }

    &__value {
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-weight: bold;
    }
}