// Estilos para el logo del menú
.navbar {
    &__logo {
        height: 120px !important;      // Altura ideal para móviles
        width: auto;       // Para que mantenga la proporción y no se vea aplastado
        display: block;    
        transition: transform 0.3s ease; // Un pequeño efecto suave

        &:hover {
            transform: scale(1.05); // Se agranda un poquito al pasar el mouse
        }

        @media (min-width: 768px) {
            height: 55px;  // En computador lo hacemos brillar un poco más
        }
    }
}
