// Fuentes
$font-primary: 'Anton', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$color-light: #ffffff;
$color-dark-overlay: rgba(0, 0, 0, 0.6);
$color-cream: #f4f1ea;
$color-dark-text: #1a1a1a;
$color-gray-light: #F2F2F2;
$color-dark-form: rgb(0, 0, 0);